<h3>
    Welcome, <%= @user.display_name %>.
</h3>
<p>
    We hope to relieve you of some of the burden of managing medications.
</p>
<h4>
    What's the next step?
</h4>
<p>
    <%= link_to 'Sign in', 'https://orderlyaid.herokuapp.com/' %>. Add your patient (this may even be <em>you</em>). Then add a prescription and its schedule.
</p>
<p>
  <small>This is a one-time email. You won't be receiving regular emails from us unless you sign up for them.</small>
</p>
