
.fieldLabel {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     margin-bottom: 2.5px;
     color: #112535;
}
.stepTitle {
   color: #112535;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 35px;
}

.subTitle {
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
     font-weight: 300;
     color: #112535; 
}

.radioLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-left: 25px;
    line-height: 20px;    
}
.cautions {
    margin-top: 30px;
}

textarea {
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    border:  .5px solid silver;
    border-radius: 5px;
}
.input-group-addon{
    background: #80ced7;
    color: white;
    border:  #80ced7;
}

#nextBtn {
    margin-top: 10px;
    color: #112535;
    border-radius: 15px;
    border: solid 1px #80ced7;
}
#input {
    border-radius: 1.5px;  
}