.mainNav {
    /*background-color: #ccdbdc;*/
    background-color:#80ced7;
    /*background-color: rgba(34,55,85,.8);*/
    padding: 4px 20px 4px 20px;
    /*box-shadow: 0 8px 6px -6px rgba(204,219,220,.5);*/
}

#singout {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: transparent;
    color:  white;
    border-radius: 15px;
    border: solid .5px white;
    padding: -3px;
    margin-top: 13px;
    margin-left: 7px;
    margin-right: 50px;
}
#addNew {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: transparent;
    color:  white;
    border-radius: 15px;
    border: solid .5px white;
    padding: -3px;
    margin-top: 13px;
    margin-left: 7px;

}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: white; 
    margin-left: 70px;
}

.profileNav {
    background: white;
    padding: 5px;
    box-shadow: 0 8px 6px -6px rgba(204,219,220,.5);
    margin-bottom: 40px;
}

.userImg {
    max-width: 60px;
    height: auto;
    display: block;
    text-align: center;
    padding: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 72px;
    border-radius: 50px;
   
}
.userName{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 30px;
    margin-right: -330px;
     color: rgba(34,55,85,.8);
    
}
#medLinks{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 11,11,11,11;
    font-size: 13px;
    border-radius: 9px;
}
.tabs{
    padding-top: 23px;
    margin-left: 75px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(34,55,85,.8);
    font-size: 18px;
    margin-left: 5px;
}
.label-success:hover {
    background:#80ced7!important;
}
.label-primary:hover {
    background:#80ced7!important;
}
