
html {
    height: 100%;
}
body {
    background: -webkit-linear-gradient(left,rgba(174,193,190,0),rgba(204,219,220,.2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainNav {
    background-color: #ccdbdc;
    padding: 4px 20px 4px 20px;
    /*box-shadow: 0 8px 6px -6px rgba(204,219,220,.5);*/
}

#singout {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: transparent;
    color:  white;
    border-radius: 15px;
    border: solid .5px white;
    padding: -3px;
    margin-top: 13px;
    margin-left: 7px;
    margin-right: 40px;
}
#addNew {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: transparent;
    color:  white;
    border-radius: 15px;
    border: solid .5px white;
    padding: -3px;
    margin-top: 13px;
    margin-left: 7px;

}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: white; 
    margin-left: 70px;
}

.profileNav {
    background: white;
    padding: 5px;
    box-shadow: 0 8px 6px -6px rgba(204,219,220,.5);
    margin-bottom: 40px;
}
/*.footer {
     background-color: #80ced7;
     padding:30px;
     margin-top: 30px;
}*/

.userImg {
    max-width: 50px;
    height: auto;
    display: block;
    text-align: center;
    padding: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
   
}
.userName{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 30px;
    margin-right: -350px;
    color: #80ced7;
    
}
#medLinks{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 9,9,9,9;
    font-size: 13px;
    border-radius: 17px;
}
.tabs{
    padding-top: 28px;
    margin-left: 75px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:  gray;
    font-size: 18px;
    margin-left: 5px;

}