
html {
    height: 100%;
}
body {
    background: -webkit-linear-gradient(left,rgba(174,193,190,0),rgba(204,219,220,.2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainNav {
    background-color: #80ced7;
    padding: 8px 20px 6px 20px;
}
#singout {
    background: transparent;
    color:  white;
    border: soild .5px white;
    border-radius: 10px;
}
.logo {
    width: 70px;
}

.footer {
     background-color: #80ced7;
     padding:30px;
     margin-top: 30px;
}