
.onBoardingCard {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.sidebar {
    margin-left: 25px;
    margin-top: 40px;
}

.sidebarTitle {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 35px;
}

.sidebarTitle {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 25px;
}
.sidebarStep {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    line-height: 15px;
}

.active {
    color: blue; 
}