 /*font-family: 'Varela Round', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
html {
    height: 100%;
}
body {
    background: -webkit-linear-gradient(left,rgba(174,193,190,0),rgba(204,219,220,.2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.userBio{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.userProfile {
    margin-top: 40px;  
}
.userImg {
    max-width: 150px;
    height: auto;
    display: block;
    text-align: center;
    padding: none;
    margin-top: 20px;
}
.userName{
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
}
.userGender{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-top: -5px; 
}
.userAge {
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     font-weight: 300;
     margin-top: -5px; 
}

.nextMedPanel{
    margin-top: 39px;
    max-width: 80%;
    border: solid 1px white;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.tabs{
    margin-bottom: 20px;
    margin-top: -25px;
}

#tabname {
    color: #f06449;
}
.well {
    border-radius: 1px;
    padding-top: 14px;
    padding-bottom: 5px;
    background: rgba(237,234,237,.2);
    border: solid 1px white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.nextMed {
    text-align: center; 
    font-family: 'Varela Round', sans-serif;
}
.medName {
    padding-top: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.medTime {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.medDate {
    margin-top: -8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.medBtns {
    border-top: .5px solid silver;
}
.historyTable {
    padding: 20px;
}

.time {
   position:relative;
}
.thisDiv{
    position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

}
.historyTitle {
    margin-top: 35px;
    margin-bottom: 5px;
   font-family: 'Varela Round', sans-serif;
   font-size: 16px;
}
