 /*font-family: 'Varela Round', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/

.userBio{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.userProfile {
    margin-top: 40px;  
}
.userImg {
    max-width: 150px;
    height: auto;
    display: block;
    text-align: center;
    padding: none;
    margin-top: 20px;
}
.userName{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.nextMedPanel{
    margin-top: 20px;
    max-width: 70%;
    border: solid 1px white;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    min-height: 614px;
    margin-left: 60px;
}

.well {
    border-radius: 1px;
    padding-top: 14px;
    padding-bottom: 5px;
    background:white;
    background: rgba(204,219,220,.2);
    border: solid 1px rgba(204,219,220,.2);
    box-shadow: .5px 1px 1.5px rgba(0,0,0,0.07);
}
.nextMed {
    font-family: 'Roboto', sans-serif;
    margin-left: 7px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(34,55,85,.8); 
    /*color:#80ced7;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.medName {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(34,55,85,.9); 
   
}
.medTime {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
     color: rgba(34,55,85,.8); 

}
.medDate {
    margin-top: -8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(34,55,85,.8);
    
}
.medBtns {
    border-top: .5px solid rgba(34,55,85,.8);
}

.time {
   position:relative;
}


