
.toggleBtns {
    margin-top: 100px;
}
#toggle {
    font-family: 'Roboto', sans-serif;
    color:  #112535;
}
.fieldLabel {
     font-family: 'Roboto', sans-serif;
     margin-bottom: 1px;
}
.signupCard {
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid .5px white;
    border-radius: 1px;
    -webkit-box-shadow: 13px 23px 141px 20px rgba(237,234,237,1);
    -moz-box-shadow: 13px 23px 141px 20px rgba(237,234,237,1);
    box-shadow: 13px 23px 141px 20px rgba(237,234,237,1);
}
.signupTitle {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 35px;
}
.sidebar {
    margin-left: 25px;
    margin-top: 40px;
}
.line {
    border-left: 1px solid black;
}
.sidebarTitle {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 25px;
}
.whyPoint {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    line-height: 20px;
}
#nextBtn {
    margin-top: 10px;
    color: #112535;
    border-radius: 15px;
    border: solid 1px #80ced7;
}
#input {
    border-radius: solid 1.5px rgba(237,234,237,.2);  
    background: rgba(237,234,237,.2);
}