* {
    box-sizing: border-box;
}

.todaysDate {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 18px;
    color: rgba(34,55,85,.8); 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}
.currentTime {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: -20px;
    color: rgba(34,55,85,.8); 
}

.medicationName {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 8px;
    color: rgba(34,55,85,.8); 
}
.dosage {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 8px;
    color: rgba(34,55,85,.8); 
}

.instructions {
    font-size: 15px;
}
.cautions {
    font-size: 15px;
}
.notes {
    font-size: 15px;
}
.label-success {
   background-color: #80ced7;
}
.label-primary {
    background-color: rgba(34,55,85,.8);
}
.label:hover{
     background-color:#80ced7;
}
.currentMeds {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.currentMed {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
    /*margin-right: -280px;*/
    padding: 20px 20px 20px 20px;  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background:white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid .5px white;
    border-radius: 1px;
    transform: scale(.96);
    transition: all .3s ease;
    opacity: .35;
}

.currentMed.active {
    transform: scale(1);
    opacity: 1;
    /*margin-right: -150px;*/
}

/*.currentMed.active:hover {
    background: #80ced7;
}*/

.medDisplay {
    margin-top: 50px;
}

.curentMedHeading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.currentMedInfo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#taken {
    background: rgba(128,206,215,1);
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -15px;
}