* {
    box-sizing: border-box;
}

.todaysDate {
    text-align: center;
    font-size: 17px;
    margin-top: -15px;
}
.currentTime {
    text-align: center;
    font-size: 35px;
}

.listOfCurrentMeds {
    margin-top: 30px;
}
.medicationName {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 8px;
}
.dosage {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 8px;
}
.instructions {
    font-size: 15px;
}
.cautions {
    font-size: 15px;
}
.notes {
    font-size: 15px;
}
.label-success {
   background-color: #80ced7;
}
/*.label-primary{
    background-color: #aec1be;
}*/

.label:hover{
     background-color:#80ced7;
}
.currentMeds {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.currentMed {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
    /*margin-right: -280px;*/
    padding: 20px 20px 20px 20px;  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background:white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid .5px white;
    border-radius: 1px;
    transform: scale(.96);
    transition: all .3s ease;
    opacity: .35;
}

.currentMed.active {
    transform: scale(1);
    opacity: 1;
    /*margin-right: -150px;*/
}

/*.currentMed.active:hover {
    background: #80ced7;
}*/

.medDisplay {
    margin-top: 50px;
}

/*.currentMed:first-child {
    margin-left: 205px;
}*/


/*.medBackgroundPanel{
    border-radius: 1px;
    padding-top: 14px;
    padding-bottom: 5px;
    /*background: rgba(237,234,237,.2);*/
    /*box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border: solid 1px white;
    background-color: #ffffff;

}*/
.curentMedHeading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.currentMedInfo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
