* {
    box-sizing: border-box;
}

.card {
    padding: 20px 20px 20px 20px;  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    border: solid .5px white;
    border-radius: 1px;
}
.todaysDate {
    text-align: center;
    font-size: 17px;
    margin-top: -15px;
}
.currentTime {
    text-align: center;
    font-size: 35px;
}
.listOfCurrentMeds {
    margin-top: 15px;
}
.medicationName {
    font-size: 20px;
}
.dosage {
    font-size: 15px;
}
.listItem{
    
}
.instructions {
    font-size: 15px;
}
.cautions {
    font-size: 15px;
}
.notes {
    font-size: 15px;
}

.currentMeds {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.currentMed {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
    padding: 20px 20px 20px 20px;  
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background: rgba(237,234,237,.2);
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid .5px white;
    border-radius: 1px;
}

.currentMed:first-child {
    margin-left: 205px;
}
.medBackgroundPanel{
    border-radius: 1px;
    padding-top: 14px;
    padding-bottom: 5px;
    /*background: rgba(237,234,237,.2);*/
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border: solid 1px white;
    background-color: #ffffff;

}

